/* AI DISCLAIMER: I HAVE USED CHATGPT AS AN ASSISTANT DURING MY CODING PROCESS. IT HAS HELPED ME CREATE SOME OF THE SYNTAX AND LOGIC IN THIS DOCUMENT'S FUNCTIONS, WHEREAS THE STRUCTURE AND MOST OF THE CODE IS HAND-WRITTEN. 0% OF THIS DOCUMENT IS WRITTEN BY AI. */


* {
  font-family: "Roboto Mono", monospace;
  scroll-behavior: smooth;
  font-feature-settings: "liga" 1, "clig" 1;
  font-variant-ligatures: common-ligatures discretionary-ligatures;
  box-sizing: border-box;
  letter-spacing: -3.5%;
  color: white;
  font-size: 17px;
}
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #1f1f1f;
}
input,
textarea {
  background-color: transparent;
  border: 1px solid #4b4b4b;
  border-radius: 10px;
  display: block;
  width: 85vw;
  padding: 20px 20px;
  max-width: 800px;
  margin-bottom: 10px;
}
.habit-statement {
  background-color: transparent;
  border: 1px solid #2b2b2b;
  color: #c2c2c2;
  font-style: italic;
  border-radius: 10px;
  display: block;
  width: 85vw;
  padding: 20px 20px;
  max-width: 800px;
  margin-bottom: 10px;
  margin-top: 0;
}
.add-btn {
  width: 85vw;
  padding: 20px 20px;
  max-width: 800px;
  background-color: #2b2b2b;
  border: 1px solid #4b4b4b;
  border-radius: 10px;
  cursor: pointer;
}
.add-btn:hover,
.habit-action-button:hover {
  background-color: #333333;
}
input:focus,
textarea:focus {
  outline: none;
  border: 1px solid white;
}
.habit-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  gap: 0px 50px;
  width: 100%;
  margin: 40px 0 50px 0;
}
.habit-container {
  padding: 15px 5px;
}
.stock-title {
  font-size: 26px;
  font-weight: 500;
  letter-spacing: -5%;
  margin-bottom: 5px;
}
.habit-action-button {
  padding: 4px 15px;
  background-color: #2b2b2b;
  border: 1px solid #4b4b4b;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  margin: 0 0 10px 0;
}
canvas {
  margin-top: 20px;
}
.price {
  color: #cecece;
  margin-top: 8px;
  margin-bottom: 20px;
  font-size: 16px;
}
.description {
  font-size: 15px;
  color: #c2c2c2;
  margin-top: 10px;
  margin-bottom: 0;
  line-height: 1.5;
  text-align: justify;
  letter-spacing: -5%;
}
#total-data {
  width: 100%;
}
a {
  text-decoration: none;
  color: hsl(0, 0%, 76%);
}
.right {
  position: absolute;
  right: 20px;
}
.top {
  position: absolute;
  top: 20px;
}
.left {
  position: absolute;
  left: 20px;
}
.bottom {
  position: absolute;
  bottom: 20px;
}
.container {
  width: 85%;
  max-width: 1000px;
  padding: 70px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.red {
  background-color: #ff5d7855;
  border-color: #ffa5b477;
}
.red:hover {
  background-color: #ff5d7877;
}
.lior-container {
  margin-top: 100px;
  border-top: #4b4b4b 1px solid;
  padding: 50px;
}
.lior-info {
  font-style: italic;
  text-align: center;
}
.price-red {
  color: white;
  font-size: 14px;
  padding: 3px 12px;
  background-color: #ff5d7855;
  border-radius: 30px;
}

.price-blue {
  color: white;
  font-size: 14px;
  padding: 3px 12px;
  background-color: #5cb6ff55;
  border-radius: 30px;
}

.price-grey {
  color: white;
  font-size: 14px;
  padding: 3px 12px;
  background-color: hsla(207, 0%, 68%, 0.333);
  border-radius: 30px;
}

