{% extends "layout.html" %}

{% block body %}
<body>
    <h2 class="stock-title" style="margin-bottom: 30px;">Login</h2>
    <form method="post">
        <input type="text" name="username" placeholder="Username" required />
        <input type="password" name="password" placeholder="Password" required />
        <button class="add-btn" type="submit">Login</button>
    </form>
    <p style="margin-top: 20px;">Don't have an account? <a href="{{ url_for('register') }}">Register</a></p>
</body>
{% endblock %}